@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');


.cabeza {
    background-color:#820000;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.cabeza .logoYTitulo {
    display:inline-flex;
}

.logoCabeza {
    width: 65px;
    height: 90px;
}

.tituloCabeza {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-left: 15px;
    font-family: "Gilda Display", sans-serif;
    margin-top: 28px;
}

.cabeza ul {
    display: flex;
    flex-direction: row;
}

.cabeza ul li {
    margin: 20px;
}

.cabeza ul li a {
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    padding: 10px;
}

/* .cabeza .iconoCarrito {
    color: white;
    width: 35px;
    height: 35px;
} */

.cabeza div button {
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: inherit;
    border: none;
}

.cabeza div button p {
    font-size: 24px;
}

.cabeza div button svg {
    width: 50px;
    height: 50px;
}

.App .background Header {
    background-color: whitesmoke;
}

.logo {
    width: 55px;
    height: 90px;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
    color: rgb(17, 1, 1);
}

.tituloInicio {
    margin-bottom: 50px;
}

.parrafoInicio {
    margin-bottom: 50px;
}

.frecuent-questions {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.tituloPreguntasFrecuentes {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 32px;
    margin-bottom: 20px;
}

.collapsible {
    max-width: 1050px;
}

.collapsible div {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
}

.imgFooter {
    width: 100px;
    height: 150px;
}

.item-list-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-list-container .wine-card {
    margin: 30px;
}

/* .card-title-second {
    text-align: center !important;
} */

/* .text-card {
    font-size: 20px;
    font-family: "Gilda Display", sans-serif;
    text-align: center;
    color: rgb(175, 42, 42);
} */

.counter {
    margin-top: 40px;
}

.space-product-title {
    width: 100%;
}

.product-title {
    /* font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-size: 34px;
    text-align: center;
    margin: 5vh 0;
    font-weight: bold;
}

.font {
    font-family: 'Encode Sans', sans-serif;
}

.cart-table {
    min-width: 150px;
}

.imageCart {
    max-height: 150px;
    max-width: 280px;
}

.cont {
    max-width: 80%;
    margin: 8% 10%;
    display: flex;
    flex-direction: row;
}

.info {
    /* border: rgba(0, 0, 0, 0.178) solid 2px; */
    max-width: 60%;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    max-width: 170px;
}

.m {
    margin-top: 20px;
    margin-bottom: 80px;
}

.clear-cart:hover {
    opacity: 0.6;
    animation: clear 2s linear
}

.icon-clear {
    padding-right: 5px;
    /* text-align: center;
    position: absolute;
    opacity: 0; */
}

/* .icon-clear:hover {
    text-align: center;
    position: absolute;
    opacity:10;
    color: black;
    font-size: 30px;
} */

